
#imgizquierdo {
    width: 33%;
    height: auto;
    float: left;
    margin-top: 10px;
}

#imgcentro {
    width: 33%;
    height: auto;
    margin-left: 2px;
    margin-top: 10px;
}

#imgderecho {
    width: 33%;
    height: auto;
    float: right;
    margin-top: 10px;
}



#izquierdo {
    float: left;
    margin-left: 12%;
}

#centrado {
    text-align: center;
    margin-right: 15%;
}

#derecho {
    float: right;
    margin-right: 10%;
}