/* Contenedor Principal y Flechas */

.contenedor-abajo-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

    .contenedor-abajo-titulo-controles h3 {
        color: #000;
        font-size: 30px;
    }

    .contenedor-abajo-titulo-controles .indicadores button {
        background: skyblue;
        height: 3px;
        width: 10px;
        cursor: pointer;
        border: none;
        margin-right: 2px;
    }

        .contenedor-abajo-titulo-controles .indicadores button:hover,
        .contenedor-abajo-titulo-controles .indicadores button.activo {
            background: gray;
        }

.productos-recomendados {
    margin-bottom: 70px;
}

    .productos-recomendados .contenedor-abajo-principal {
        display: flex;
        align-items: center;
        position: relative;
    }

        .productos-recomendados .contenedor-abajo-principal .flecha-izquierda,
        .productos-recomendados .contenedor-abajo-principal .flecha-derecha {
            position: absolute;
            border: none;
            background: rgba(0, 0, 0, 0.3);
            font-size: 40px;
            height: 50%;
            top: calc(50% - 25%);
            line-height: 40px;
            width: 50px;
            color: #fff;
            cursor: pointer;
            z-index: 500;
            transition: .2s ease;
        }

    /* carrusel de abajo */
    .productos-recomendados .contenedor-abajo-carrusel-abajo {
        width: 100%;
        padding: 20px 0;
        overflow: hidden;
        scroll-behavior: smooth;
    }

        .productos-recomendados .contenedor-abajo-carrusel-abajo .carrusel-abajo {
            display: flex;
            flex-wrap: nowrap;
        }

            /* hacer crecer la imagen */
            .productos-recomendados .contenedor-abajo-carrusel-abajo .carrusel-abajo .producto-abajo.hover {
                transform: scale(1.2);
                transform: center;
            }

            .productos-recomendados .contenedor-abajo-carrusel-abajo .carrusel-abajo .producto-abajo {
                min-width: 16.5%;
                transition: .3s ease all;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }

                .productos-recomendados .contenedor-abajo-carrusel-abajo .carrusel-abajo .producto-abajo img {
                    width: 100%;
                    vertical-align: top;
                    padding: 15px;
                    margin: 10px;
                }

    .productos-recomendados .contenedor-abajo-principal .flecha-izquierda {
        left: 0;
    }

    .productos-recomendados .contenedor-abajo-principal .flecha-derecha {
        right: 0;
    }

        .productos-recomendados .contenedor-abajo-principal .flecha-izquierda:hover,
        .productos-recomendados .contenedor-abajo-principal .flecha-derecha:hover {
            background: rgba(0, 0, 0, 0.9);
        }

/* Media Queries */
@media screen and (max-width: 880px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor-abajo {
        flex-direction: column;
        text-align: center;
    }

    .producto-abajo-principal {
        font-size: 14px;
    }

        .producto-abajo-principal .descripcion {
            max-width: 100%;
        }

    .productos-recomendados .contenedor-abajo-carrusel-abajo {
        overflow: visible;
    }

        .productos-recomendados .contenedor-abajo-carrusel-abajo .carrusel-abajo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    .productos-recomendados .indicadores,
    .productos-recomendados .flecha-izquierda,
    .productos-recomendados .flecha-derecha {
        display: none;
    }


    .productos-recomendados .contenedor-abajo-carrusel-abajo .carrusel-abajo .producto-abajo img {
        padding: 0px;
        margin: 0px;
    }
}
